<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../src/css/style.css">
    <!--favicon-->
    <link rel="icon" type="image/png" href="../../src/img/logo.png">
    <title>Dasboard</title>
</head>
<body>
    <div class="bg-slate-900 w-full h-dvh">
        <!--aside-->
        <div class="flex justify-between">
            <div class="w-full h-12 flex items-center justify-center">
                <h1 class="text-white text-lg font-semibold">LigaManager</h1>
            </div>
            <aside class="bg-slate-800 px-2 py-2 h-12 w-16 rounded-bl-sm">
                <img src="../../src/img/icons/menu.svg" alt="logo" class="w-full h-full">
            </aside>
        </div>
    </div>
</body>
</html>