<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../src/css/style.css">
    <title>Iniciar sesión</title>
</head>
<body>
    <div class="bg-gray-900 w-full h-dvh flex">
        <!--Iniciar sesion-->
        <div class="bg-white w-lg mx-auto my-auto rounded-md px-10 py-10">
            <img src="../../src/img/logo.png" alt="Logo software"
            class="w-80 mx-auto">
            <div class="">
                <h1 class="text-3xl font-medium text-center">Iniciar sesión</h1>
                <!--formulario-->
                <form action="">
                    <label for="usuario" class="block">Usuario</label>
                    <input type="text" required placeholder="Ingrese su usario"
                    class="w-full">
                    <label for="contraseña" class="block">Contraseña</label>
                    <input type="password" required placeholder="Ingrese su contraseña"
                    class="w-full">
                    <div class="text-center mt-6">
                        <button class="bg-green-600 px-2 py-2 w-80">Ingresar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>